[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Nanoparticles
Exec=/opt/Nanoparticles/bin/Nanoparticles
Icon=nanoparticles
Categories=Game
X-Window-Icon=nanoparticles
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
